/* Write your CSS code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}
.main-container {
  background-size: cover;
  background-image: linear-gradient(to left, #ffc0bb, #ffeeee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: white;
  height: 60vh;
  width: 50vw;
  border-radius: 20px;
  box-shadow: aqua;
}
.emoji-container {
  display: flex;
}
img {
  height: 50px;
  width: 50px;
}
button {
  background-color: white;
  border: solid 0px white;
  list-style: none;
}
li {
  list-style: none;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
